<div class="contexto-list">
  <h2>Contextos</h2>
  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Autor</th>
        <th>Archivo</th>
        <th>Tipo Contexto</th>
        <th>Acciones</th> <!-- Nueva columna para acciones -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contexto of contextos">
        <td>{{ contexto.id }}</td>
        <td>{{ contexto.nombre }}</td>
        <td>{{ contexto.descripcion }}</td>
        <td>{{ contexto.autor }}</td>
        <td><a *ngIf="contexto.NombreArchivo" href="http://localhost:3001/ObtenerArchivo/1/{{contexto.NombreArchivo}}">{{ contexto.NombreArchivo}}</a></td>
        <td>{{ contexto.tipoContexto }}</td>

        <td>
          <button class="btn-accion" (click)="editarContexto( contexto.id)" >
            <i class="entypo--edit" ></i> <!-- Icono de editar -->
          </button>
          <button  class="btn-accion" (click)="eliminarContexto(contexto.id)" >
            <i class="material-symbols--delete"></i> <!-- Icono de eliminar -->
          </button>
          <button  class="btn-accion" (click)="eliminarContextoLista(contexto.id)" >
            <i class="iwwa--delete"></i> <!-- Icono de eliminar -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button class="btn-agregar" (click)="agregarContexto()">Agregar Contexto</button>
    <button class="btn-buscar" (click)="listarContextos()">Buscar Contexto</button>
  </div>
</div>

<div>
  <h2>Preguntas</h2>
  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Contexto ID</th>
        <th>Enunciado</th>
        <th>Tipo Pregunta</th> <!-- Nueva columna para acciones -->
        <th>Puntaje</th> <!-- Nueva columna para acciones -->
        <th>Autor</th>
        <th>Area Evaluar</th>
        <th>Tema Evaluar</th>
        <th>Archivo Preguna</th>
        <th>Tipo Pregunta</th>
        <th>Alineación</th>
        <th>Acciones</th> <!-- Nueva columna para acciones -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pregunta of preguntas">
        <td>{{ pregunta.id }}</td>
        <td>{{ pregunta.contextoId }}</td>
        <td>{{ pregunta.enunciado }}</td>
        <td>{{ pregunta.tipo_nombre }}</td>
        <td>{{ pregunta.puntaje }}</td>
        <td>{{ pregunta.autor }}</td>
        <td>{{ pregunta.Area_Evaluar_nombre }}</td>
        <td>{{ pregunta.Tema_Evaluar_nombre }}</td>
        <td><a *ngIf="pregunta.imagen_pregunta" href="http://localhost:3001/ObtenerArchivo/2/{{pregunta.imagen_pregunta}}">{{ pregunta.imagen_pregunta}}</a></td>
        <td>{{ pregunta.tipo_pregunta_contenido }}</td>
        <td>{{ pregunta.layout_pregunta }}</td>
        <td>
          <button class="btn-accion" (click)="editarPregunta( pregunta.id)" >
            <i class="entypo--edit" ></i> <!-- Icono de editar -->
          </button>
          <button  class="btn-accion" (click)="eliminarPregunta(pregunta.id)" >
            <i class="material-symbols--delete"></i> <!-- Icono de eliminar -->
          </button>
          <button  class="btn-accion" (click)="eliminarPreguntaLista(pregunta.id)" >
            <i class="iwwa--delete"></i> <!-- Icono de eliminar -->
          </button>
        </td>

      </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button class="btn-agregar" (click)="agregarPregunta()">Agregar Pregunta</button>
    <button class="btn-buscar" (click)="listarPreguntas()">Buscar Pregunta</button>
  </div>

</div>

<div>
  <h2>Opciones</h2>
  <ul>
    <li *ngFor="let opcion of opciones">{{ opcion.texto }}</li>
  </ul>
  <button class="btn-agregar" (click)="agregarOpcion()">Agregar Opción</button>
</div>


<ng-container *ngIf="showContextoModal">
  <div class="modal">
    <div class="modal-content">
      <button class="btn-estilo" (click)="closeContextoForm()">X</button>
      <app-context></app-context>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showContextListaModal">
  <div class="modal modal-custom">
    <div class="modal-content modal-content-custom">
      <button class="btn-estiloCustom" (click)="closeContextListaForm()">X</button>
      <app-context-lista></app-context-lista>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showContextEditModal">
  <div class="modal">
    <div class="modal-content">
      <button class="btn-estilo" (click)="closeEditContextoForm()">X</button>
      <app-context-editar [contextoId]="tuIdDeContexto"></app-context-editar>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="showContextEliminarModal">
  <div class="modal">
    <div class="modal-content">
      <app-context-eliminar [contextoId]="tuIdDeContexto" (cerrarModal)="closeEliminarContextoForm()" ></app-context-eliminar>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="showOpcionModal">
  <div class="modal">
    <div class="modal-content">
      <app-opcion></app-opcion>
      <button (click)="closeOpcionForm()">Cerrar</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showPreguntaModal">
  <div class="modal">
    <div class="modal-content">
      <button class="btn-estilo" (click)="closePreguntaForm()">X</button>
      <app-pregunta></app-pregunta>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showPreguntaListaModal">
  <div class="modal modal-custom">
    <div class="modal-content modal-content-custom">
      <button class="btn-estiloCustom" (click)="closePreguntaListaForm()">X</button>
      <app-pregunta-lista></app-pregunta-lista>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="showPreguntaEditModal">
  <div class="modal">
    <div class="modal-content">
      <button class="btn-estilo" (click)="closeEditPreguntaForm()">X</button>
      <app-pregunta-editar [preguntaID]="tuIdDePregunta"></app-pregunta-editar>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showPreguntaEliminarModal">
  <div class="modal">
    <div class="modal-content">
      <app-pregunta-eliminar [PreguntaId]="tuIdDePregunta" (cerrarModal)="closeEliminarPreguntaForm()" ></app-pregunta-eliminar>
    </div>
  </div>
</ng-container>










