<div class="desktop-container ">
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" class="filter-input">
    <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Columna de id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID_GRUPO_ESTUDIO}} </td>
      </ng-container>

      <!-- Columna de nombre_esquema -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.NOM_GRUPO_ESTUDIO}} </td>
      </ng-container>

      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef> DescripciÓn </th>
        <td mat-cell *matCellDef="let element"> {{element.DESCRIPCION_GRUPO_ESTUDIO}} </td>
      </ng-container>

      <ng-container matColumnDef="jornada">
        <th mat-header-cell *matHeaderCellDef> Jornada </th>
        <td mat-cell *matCellDef="let element"> {{element.JORNADA_GRUPO_ESTUDIO}} </td>
      </ng-container>

      <ng-container matColumnDef="id_programa_estudio">
        <th mat-header-cell *matHeaderCellDef> ID PROGRAMA </th>
        <td mat-cell *matCellDef="let element"> {{element.ID_PROGRAMA_ESTUDIO}} </td>
      </ng-container>



      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="agregarGrupoEstudio(element)" class="icon-button">
            <i class="material-icons">add</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" class=" colorfondo"></mat-paginator>
  </div>
