<!-- R O L  P E R F I L -->

<div class="contenedoruno">

  <div class="filauno">

    <div class="vertical-center">

      <div class="infofilauno">
        <img src="{{url_backend_ms_negocio}}ObtenerArchivo/1/usercoco.png" alt="user" width="100">
        <span class="name">{{nombre_usuario}}</span>
      </div>

      <div class="rol">
        <h3>Rol</h3>
        <span class="rolperfil">{{nombre_rol_usuario}}</span>
      </div>

    </div>

  </div>

  <div class="filados">

    <div class="info">
      <h2>Información</h2>
      <div class="info_data">

        <div class="subfilauno">
          <div class="data">
            <h4>Correo</h4>
            <span>{{correo_usuario}}</span>
          </div>
        </div>

        <div class="subfilados">
          <div class="data">
            <h4>Cédula</h4>
            <span class="cedula">{{num_documento_usuario}}</span>
          </div>
        </div>

      </div>
    </div>

    <div class="projects">
      <h2>Adicional</h2>
      <div class="projects_data">
        <div class="data">
          <h4>Teléfono</h4>
          <span class="cedula">{{telefono_usuario}}</span>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button disabled class="primary">
        Actualizar teléfono
      </button>
      <button disabled class="primary">
        Actualizar contraseña
      </button>
    </div>

  </div>

</div>
