<ng-toast></ng-toast>

<section *ngIf="sesionActiva && !isPresentarPruebaRoute()" id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a routerLink="/home" class="brand">
    <i class='bx fluent-emoji-high-contrast--coconut'></i>
    <span class="text">Coco </span>
  </a>
  <ul class="side-menu top">
    <li routerLinkActive="active" *ngFor="let menu of listaMenus">
      <a routerLink="{{menu.ruta}}">
        <i class='{{menu.icono}}' ></i>
        <span class="text">{{menu.texto}}</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a routerLink="/seguridad/cerrar-sesion" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section *ngIf="sesionActiva && !isPresentarPruebaRoute()" id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu'></i>
    <!--
    <a href="#" class="nav-link">Modulos</a>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <a href="#" class="notification">
      <i class='bx bxs-bell'></i>
      <span class="num">8</span>
    </a>
    -->
    <a href="https://www.webcoco.casinosoft.com.co" target="_blank" class="profile">
      <img src="../assets/img/coco con fondo.png">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<section *ngIf="!sesionActiva || isPresentarPruebaRoute()">
  <router-outlet></router-outlet>
</section>
