.table-container {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 768px) {
  .desktop-container {
    background-color: #ffffff; /* Color de fondo para pantallas de escritorio */
    padding: 20px; /* Ajusta el espaciado según sea necesario */
  }

  .table-container {
    max-width: calc(100% - 40px); /* Ajusta el ancho de la tabla dentro del contenedor */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    background-color: white; /* Fondo blanco para la tabla */
    border-radius: 8px; /* Añade bordes redondeados al contenedor */
    overflow-x: auto;
  }
}

.colorfondo{
  background-color: #eeebeb;
  border-radius: 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}


.filter-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.icon-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px; /* Adjust padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Mouse pointer on hover */
  transition-duration: 0.4s; /* Transition effects */
  width: 40px; /* Adjust width */
  height: 40px; /* Adjust height */
  border-radius: 50%; /* Make button circular */
}

.icon-button:hover {
  background-color: white; /* White background */
  color: black; /* Black text */
}

.icon-button i.material-icons {
  color: white; /* White icon */
}

.icon-button:hover i.material-icons {
  color: #4CAF50; /* Green icon on hover */
}
