<form [formGroup]="opcionForm"  class="opcion-form">
  <div>
    <label for="preguntaId">Pregunta:</label>
    <select id="preguntaId" formControlName="preguntaId" required>
      <option *ngFor="let pregunta of preguntas" [value]="pregunta.id">{{pregunta.enunciado}}</option>
    </select>
  </div>
  <div>
    <label for="texto">Texto de la Opción:</label>
    <textarea id="enunciado" formControlName="texto" ></textarea>
  </div>
  <div>
    <label for="esCorrecta">Es Correcta:</label>
    <input id="esCorrecta" type="checkbox" formControlName="esCorrecta">
  </div>

  <div class="dropzone"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="openFileSelector()">
    <p *ngIf="!selectedFile">Arrastra y suelta un archivo aquí, o haz clic para seleccionar un archivo</p>
    <p *ngIf="selectedFile">{{ selectedFile.name }}</p>
    <input formControlName="archivo" #fileInput type="file" (change)="onFileSelected($event)" hidden>
  </div>

  <div>
    <label for="tipo">Tipo de Pregunta:</label>
    <select id="tipo" formControlName="tipo_opcion" required>
      <option value="" disabled selected>Seleccionar</option>
      <option value="TEXTO">TEXTO</option>
      <option value="IMAGEN">IMAGEN</option>
      <option value="TEXTO_IMAGEN">TEXTO IMAGEN</option>
    </select>
  </div>

  <div class="button-container">
    <button [disabled]="!opcionForm.valid" (click)="onSubmit()" class="btn" type="submit">Agregar Opcion</button>
  </div>

</form>
